---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { SOCIALS, SITE } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
//const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <div class="text-5xl font-extrabold ...">
        <h1 class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">{SITE.title}</h1>
      </div>
      <!--a target="_blank" href="/rss.xml" class="rss-link" aria-label="rss feed" title="RSS Feed" >
        <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
          ><path
            d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
          ></path><path
            d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
          ></path><circle cx="6" cy="18" r="2"></circle>
        </svg> 
      </a-->
      <p>
        Freelance especializado en desarrollo de software, comprometido en
        brindar soluciones personalizadas y de calidad para impulsar tu
        proyecto. Con amplia experiencia y pasión por la tecnología, te ofrezco
        servicios profesionales para convertir tus ideas en software funcional y
        exitoso.
      </p>
      <p>
        Comprometido con el aprendizaje constante y el crecimiento profesional
        en un campo en constante evolución.
      </p>
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <Socials />
          </div>
        )
      }
    </section>
    <Hr />
    <section id="services">
      <h2>Servicios</h2>
      <div class="lista">
        <div class="web card">
          <img
            src="/assets/iconos/tablet.png"
            alt="Desarrollo de siitos web responsive"
            class="mx-auto"
          />
          <h3>Desarrollo web</h3>
        </div>
        <div class="apps card">
          <img
            src="/assets/iconos/computer.png"
            alt="Desarrollo de sistemas y aplicaciones web personalizadas"
            class="mx-auto"
          />
          <h3>Sistemas personalizados</h3>
        </div>
        <div class="seo card">
          <img
            src="/assets/iconos/rocket.png"
            alt="Optimización de sitios web - SEO"
            class="mx-auto"
          />
          <h3>Optimización web</h3>
        </div>
        <div class="seo card"></div>
      </div>
    </section>

    <section id="skills">
      <h2>Stack de desarrollo</h2>
    </section>

    <section id="recent-posts">
      <h2>Blog</h2>
      <ul>
        {
          sortedPosts.map(
            ({ data }, index) =>
              index < 4 && (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              )
          )
        }
      </ul>
      <LinkButton href="/posts">
        Ver todos
        <svg xmlns="http://www.w3.org/2000/svg"
          ><path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </LinkButton>
    </section>
  </main>
</Layout>

<Footer />

<style>
  /* ===== Hero Section ===== */
  #main-content {
    @apply after:absolute after:bottom-0 after:right-0 after:block after:h-96 after:w-32 after:bg-[url('../assets/images/hand.webp')] after:bg-contain after:bg-no-repeat after:content-[''];
  }
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  /* ===== Services & Recent Posts Sections ===== */
  #services .lista {
    @apply my-6 grid grid-cols-1 justify-items-center gap-5 sm:grid-cols-4;
  }
  #services .lista .card {
    @apply w-full rounded p-5 text-center;
  }
  html[data-theme="light"] #services .lista .card {
    background-color: rgba(39, 46, 65, 0.03);
  }
  html[data-theme="dark"] #services .lista .card {
    background-color: rgba(39, 46, 65, 0.4);
  }
  #services,
  #skills,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #services h2,
  #skills h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
