---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import { SITE } from "@config";
---

<Layout title={`Sobre mi | ${SITE.title}`}>
  <Header activeNav="sobre-mi" />
  <Main pageTitle="Sobre Mi" pageDesc="Todo acerca de Cristian Espionosa - Ddesarrollador web.">

  </Main>
  <Footer />
</Layout>
